<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>工序完工汇报</title>
  <link rel="stylesheet" href="public/css/flexible.css">
  <link rel="stylesheet" href="public/font/iconfont.css?v=12">
  <link rel="stylesheet" href="public/css/public.css?v=acdccd">
  <link rel="stylesheet" href="public/components/jk-component.css?v=zz">
  <style>
    .bill-head-group-divide {
      height: .5em;
      background: #f5f7f6;
    }
  
    .check-btn {
      position: fixed;
      z-index: 99;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
  
    /*多表体tab*/
    .table-title {
      display: flex;
    }
  
    .tab-tag {
      padding: .3em 6%;
      color: #fff;
      text-shadow: 0 0 2px #0070ff;
    }
  
    .tab-tag:first-child {
    }
  
    /*.tab-tag.active {background:#3952F7;color:#fff;}*/
    .tab-tag.active {
      background: #0070ff;
      color: #fff;
    }
  
    /*.jk-bill-entry .info-item textarea {*/
      /*width: 100%;*/
      /*vertical-align: middle;*/
    /*}*/

  </style>
</head>
<body>
<div id='app' class="public-bill" v-cloak>
  <jk-more-list
    :more-list="moreList"
    v-on:do-new="doNew"
    v-on:do-update="doUpdate"
    v-on:do-give-up="doGiveUp"
    v-on:do-save="doSave"
    v-on:do-cancel="doCancel"
    v-on:do-submit="doSubmit"
    v-on:do-query="doQuery"
    v-on:do-delete="doDelete"
  ></jk-more-list>
  <div class="content" v-cloak v-if="billHeadValues.cCode">
    <div class="list-title-common" v-cloak>
      <span class="left-text">单号: <span>{{billHeadValues.cCode}}</span></span>
      <jk-head-page
        class="right-btns"
        :bof="billInfo.BOF"
        :eof="billInfo.EOF"
        v-on:bill-change="billChange">
      </jk-head-page>
    </div>
    <div class="info-main">
      <div class="item-group"><!-- v-if="billHeadFields"-->
        <!--<div-->
        <!--v-for="hf in billHeadFields"-->
        <!--&gt;-->
        <!--  v-if="(h.type-0 === 1) || (h.type-0 === 0)"-->
        
        <jk-bill-entry
          v-if="billHeadValues"
          tag="产品编码"
          :value="billHeadValues.cInvCode"
          v-on:input="billHeadValues.cInvCode=$event"
          :disabled="isDisabled('cInvCode')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="产品名称"
          :value="billHeadValues.cInvName"
          v-on:input="billHeadValues.cInvName=$event"
          :disabled="isDisabled('cInvName')"
        ></jk-bill-entry>
        
        
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="质量控制点"
          :value="billHeadValues.bCheck"
          v-on:change="billHeadValues.bCheck=$event"
          :disabled="isDisabled('bCheck')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="工序名称"
          :value="billHeadValues.cProcName"
          v-on:input="billHeadValues.cProcName=$event"
          :disabled="isDisabled('cProcName')"
        ></jk-bill-entry>
        <div class="bill-head-group-divide"></div>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="合格品数量"
          :value="billHeadValues.fHGPQty"
          v-on:input="billHeadValues.fHGPQty=$event"
          :disabled="isDisabled('fHGPQty')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="不良品数量"
          :value="billHeadValues.fBLPQty"
          v-on:input="billHeadValues.fBLPQty=$event"
          :disabled="isDisabled('fBLPQty')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="检测期限(小时)"
          :value="billHeadValues.fCheckPeriod"
          v-on:input="billHeadValues.fCheckPeriod=$event"
          :disabled="isDisabled('fCheckPeriod')"
        ></jk-bill-entry>
  
        <jk-bill-entry
          v-if="billHeadValues"
          tag="转序数量"
          :value="billHeadValues.fZXQuantity"
          v-on:input="billHeadValues.fZXQuantity=$event"
          :disabled="isDisabled('fZXQuantity')"
        ></jk-bill-entry>
        <div class="bill-head-group-divide"></div>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="下序确认人"
          :value="billHeadValues.cPerName_XXQR"
          v-on:input="billHeadValues.cPerName_XXQR=$event"
          :disabled="isDisabled('cPerName_XXQR')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="date"
          tag="确认时间"
          :value="billHeadValues.dConfirmDate"
          v-on:set-data="billHeadValues.dConfirmDate=$event"
          :disabled="isDisabled('dConfirmDate')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="下序承接人"
          :value="billHeadValues.cPerName_CJ_Next"
          v-on:input="billHeadValues.cPerName_CJ_Next=$event"
          :disabled="isDisabled('cPerName_CJ_Next')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="工序外协属性"
          :value="billHeadValues.bTR"
          v-on:change="billHeadValues.bTR=$event"
          :disabled="isDisabled('bTR')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="转序"
          :value="billHeadValues.bTurn"
          v-on:change="billHeadValues.bTurn=$event"
          :disabled="isDisabled('bTurn')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="入库"
          :value="billHeadValues.bIn"
          v-on:change="billHeadValues.bIn=$event"
          :disabled="isDisabled('bIn')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="enumArr.cSourceArr && enumArr.cSourceArr.length>0"
          entry-type="select"
          tag="来源单据名称"
          :value="billHeadValues.cSource"
          v-on:change="billHeadValues.cSource=$event"
          :select-arr="enumArr.cSourceArr"
          :disabled="isDisabled('cSource')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="来源单据编号"
          :value="billHeadValues.cSourceCode"
          v-on:input="billHeadValues.cSourceCode=$event"
          :disabled="isDisabled('cSourceCode')"
        ></jk-bill-entry>
        
        <!--表体-->
        <!--<div class="work-table-tab table-title linear-bg-blue-70"-->
             <!--v-if="billBodyGroup.length"-->
        <!--&gt;-->
                    <!--<span class="tab-tag"-->
                          <!--:class="{'active':currentTab - index == 0}"-->
                          <!--v-for="(tab,index) in bodyGroupTab"-->
                          <!--@click="changeBody(tab,index)"-->
                          <!--v-cloak-->
                    <!--&gt;{{tab.text}}</span>-->
        <!--</div>-->
        <!--<div class="sale-list" v-if="billBodyValues">-->
          <!--<div-->
            <!--v-for="(item,index) in billBodyValues"-->
          <!--&gt;-->
            <!--<div class="item-group" v-if="index===currentPageIndex && item.sEditFlag!=='D'">-->
              <!--&lt;!&ndash;todo表体参照&ndash;&gt;-->
              <!--<jk-bill-entry-->
                <!--v-if="item"-->
                <!--entry-type="textarea"-->
                <!--tag="汇报人"-->
                <!--:value="item.cInvCode"-->
                <!--v-on:input="item.cInvCode=$event"-->
                <!--:disabled="isDisabled('cInvCode')"-->
                <!--v-on:blur="doReference('cInvCode',item.cInvCode,1)"-->
              <!--&gt;</jk-bill-entry>-->
              <!--<jk-bill-entry-->
                <!--v-if="item"-->
                <!--entry-type="textarea"-->
                <!--tag="权重"-->
                <!--:value="item.cCPSelConfigCodes"-->
                <!--v-on:input="item.cCPSelConfigCodes=$event"-->
                <!--:disabled="isDisabled('cCPSelConfigCodes')"-->
              <!--&gt;</jk-bill-entry>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <!--<jk-item-pages-->
    <!--:list="billBodyValues"-->
    <!--:current-page-index="currentPageIndex"-->
    <!--:show-page-btns="showPageEditBtns"-->
    <!--v-on:add-bill-item="addBillItem"-->
    <!--v-on:del-bill-item="delBillItem"-->
    <!--v-on:handle-page="handlePage"-->
  <!--&gt;</jk-item-pages>-->
</div>
</body>
<script src="public/js/flexible.js"></script>
<script src="core/rAndroid.js?v=223"></script>
<script src="public/components/jk-component.js?v=c66"></script>
<script src="public/vm/commonBillVm.js?v=zzccss"></script>
</html>