<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>加盖印章单</title>
  <link rel="stylesheet" href="public/css/flexible.css">
  <link rel="stylesheet" href="public/font/iconfont.css?v=12">
  <link rel="stylesheet" href="public/css/public.css?v=aa122">
  <link rel="stylesheet" href="public/components/jk-component.css?v=ffad">
  <style>
    .bill-head-group-divide {
      height: .5em;
      background: #f5f7f6;
    }
  
    .check-btn {
      position: fixed;
      z-index: 99;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
  
    /*多表体tab*/
    .table-title {
      display: flex;
    }
  
    .tab-tag {
      padding: .3em 6%;
      color: #fff;
      text-shadow: 0 0 2px #0070ff;
    }
  
    .tab-tag:first-child {
    }
  
    /*.tab-tag.active {background:#3952F7;color:#fff;}*/
    .tab-tag.active {
      background: #0070ff;
      color: #fff;
    }
  
    /*.jk-bill-entry .info-item textarea {*/
      /*width: 100%;*/
      /*vertical-align: middle;*/
    /*}*/
    .entry-btn.jk-submit {font-size:1em;}
  </style>
</head>
<body>
<div id='app' class="public-bill" v-cloak>
  <jk-more-list
    :more-list="moreList"
    v-on:do-new="doNew"
    v-on:do-update="doUpdate"
    v-on:do-give-up="doGiveUp"
    v-on:do-save="doSave"
    v-on:do-cancel="doCancel"
    v-on:do-submit="doSubmit"
    v-on:do-query="doQuery"
    v-on:do-delete="doDelete"
  ></jk-more-list>
  <div class="content" v-cloak v-if="billHeadValues.cCode">
    <div class="list-title-common" v-cloak>
      <span class="left-text">单号: <span>{{billHeadValues.cCode}}</span></span>
      <jk-head-page
        class="right-btns"
        :bof="billInfo.BOF"
        :eof="billInfo.EOF"
        v-on:bill-change="billChange">
      </jk-head-page>
    </div>
    <div class="info-main">
      <div class="item-group"><!-- v-if="billHeadFields"-->
        <!--<div-->
        <!--v-for="hf in billHeadFields"-->
        <!--&gt;-->
        <!--  v-if="(h.type-0 === 1) || (h.type-0 === 0)"-->
        <jk-bill-entry
          v-if="billHeadValues"
          tag="印章编码"
          :value="billHeadValues.cSealUnitCode"
          v-on:input="billHeadValues.cSealUnitCode=$event"
          :disabled="isDisabled('cSealUnitCode')"
          v-on:blur="doReference('cSealUnitCode',billHeadValues.cSealUnitCode)"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="印章名称"
          :value="billHeadValues.cSealUnitName"
          v-on:input="billHeadValues.cSealUnitName=$event"
          :disabled="isDisabled('cSealUnitName')"
          v-on:blur="doReference('cSealUnitName',billHeadValues.cSealUnitName)"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="管理部门"
          :value="billHeadValues.cDepName"
          v-on:input="billHeadValues.cDepName=$event"
          :disabled="isDisabled('cDepName')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="管理人"
          :value="billHeadValues.cPerName"
          v-on:input="billHeadValues.cPerName=$event"
          :disabled="isDisabled('cPerName')"
        ></jk-bill-entry>
        <div class="bill-head-group-divide"></div>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="加盖印章部门"
          :value="billHeadValues.cDepName_JG"
          v-on:input="billHeadValues.cDepName_JG=$event"
          :disabled="isDisabled('cDepName_JG')"
          v-on:blur="doReference('cDepName_JG',billHeadValues.cDepName_JG)"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="加盖印章人"
          :value="billHeadValues.cPerName_JG"
          v-on:input="billHeadValues.cPerName_JG=$event"
          :disabled="isDisabled('cPerName_JG')"
          v-on:blur="doReference('cPerName_JG',billHeadValues.cPerName_JG)"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="enumArr.cProTypeArr && enumArr.cProTypeArr.length>0"
          entry-type="select"
          tag="业务类型"
          :value="billHeadValues.cProType"
          v-on:change="billHeadValues.cProType=$event"
          :select-arr="enumArr.cProTypeArr"
          :disabled="isDisabled('cProType')"
        ></jk-bill-entry>
        <jk-bill-entry
          entry-type="textarea"
          v-if="billHeadValues"
          tag="加盖事由"
          :value="billHeadValues.cReason"
          v-on:input="billHeadValues.cReason=$event"
          :disabled="isDisabled('cReason')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="enumArr.cSealTypeArr && enumArr.cSealTypeArr.length>0"
          entry-type="select"
          tag="印章类型"
          :value="billHeadValues.cSealType"
          v-on:change="billHeadValues.cSealType=$event"
          :select-arr="enumArr.cSealTypeArr"
          :disabled="isDisabled('cSealType')"
        ></jk-bill-entry>
        <div class="bill-head-group-divide"></div>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="加盖文件编码"
          :value="billHeadValues.cAddCode"
          v-on:input="billHeadValues.cAddCode=$event"
          :disabled="isDisabled('cAddCode')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="加盖文件名称"
          :value="billHeadValues.cAddName"
          v-on:input="billHeadValues.cAddName=$event"
          :disabled="isDisabled('cAddName')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="合同金额"
          :value="billHeadValues.fMoney"
          v-on:input="billHeadValues.fMoney=$event"
          :disabled="isDisabled('fMoney')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="经办人"
          :value="billHeadValues.cPerName_J"
          v-on:input="billHeadValues.cPerName_J=$event"
          :disabled="isDisabled('cPerName_J')"
          v-on:blur="doReference('cPerName_J',billHeadValues.cPerName_J)"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="date"
          tag="加盖时间"
          :value="billHeadValues.dAddDate"
          v-on:set-data="billHeadValues.dAddDate=$event"
          :disabled="isDisabled('dAddDate')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="制式合同"
          :value="billHeadValues.bStandardBargain"
          v-on:change="billHeadValues.bStandardBargain=$event"
          :disabled="isDisabled('bStandardBargain')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="checkbox"
          tag="原件是否返回"
          :value="billHeadValues.bYJBack"
          v-on:change="billHeadValues.bYJBack=$event"
          :disabled="isDisabled('bYJBack')"
        ></jk-bill-entry>
        <div class="bill-head-group-divide"></div>
        <div class="jk-submit entry-btn no-radius"
             v-if="showFileBack"
             @click="doFileBack('btnYJFH',0 )" >原件返回</div>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="date"
          tag="要求归还时间"
          :value="billHeadValues.dPlanFinishDate"
          v-on:set-data="billHeadValues.dPlanFinishDate=$event"
          :disabled="isDisabled('dPlanFinishDate')"
        ></jk-bill-entry>
  
        <jk-bill-entry
          v-if="billHeadValues"
          tag="原件接收人"
          :value="billHeadValues.cPerName_YJ"
          v-on:input="billHeadValues.cPerName_YJ=$event"
          :disabled="isDisabled('cPerName_YJ')"
        ></jk-bill-entry>
        <!--v-on:blur="doReference('cPerName_GH',billHeadValues.cPerName_YJ,getFinishDate)"-->
  
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="date"
          tag="原件接收时间"
          :value="billHeadValues.dOriginalDate"
          v-on:set-data="billHeadValues.dOriginalDate=$event"
          :disabled="isDisabled('dOriginalDate')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="enumArr.cSourceArr && enumArr.cSourceArr.length>0"
          entry-type="select"
          tag="来源单据"
          :value="billHeadValues.cSource"
          v-on:change="billHeadValues.cSource=$event"
          :select-arr="enumArr.cSourceArr"
          :disabled="isDisabled('cSource')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          tag="来源单据编号"
          :value="billHeadValues.cSourceCode"
          v-on:input="billHeadValues.cSourceCode=$event"
          :disabled="isDisabled('cSourceCode')"
        ></jk-bill-entry>
      </div>
    </div>
  </div>
</div>
</body>
<script src="public/js/flexible.js"></script>
<script src="core/rAndroid.js?v=223"></script>
<script src="public/components/jk-component.js?v=22"></script>
<script src="public/vm/commonBillVm.js?v=zzccaa"></script>
</html>