<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>临时出门证</title>
  <link rel="stylesheet" href="public/css/flexible.css">
  <link rel="stylesheet" href="public/font/iconfont.css?v=12">
  <link rel="stylesheet" href="public/css/public.css?v=acdccd">
  <link rel="stylesheet" href="public/components/jk-component.css?v=1">
  <style>
    .bill-head-group-divide {
      height: .5em;
      background: #f5f7f6;
    }
    .check-btn {
      position: fixed;
      z-index: 99;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
  
    /*多表体tab*/
    .table-title {
      display: flex;
    }
  
    .tab-tag {
      padding: .3em 6%;
      color: #fff;
      text-shadow: 0 0 2px #0070ff;
    }
  
    .tab-tag:first-child {
    }
  
    /*.tab-tag.active {background:#3952F7;color:#fff;}*/
    .tab-tag.active {
      background: #0070ff;
      color: #fff;
    }
  
    /*.jk-bill-entry .info-item textarea {*/
      /*width: 100%;*/
      /*vertical-align: middle;*/
    /*}*/

  </style>
</head>
<body>
<div id='app' class="public-bill" v-cloak>
  <jk-more-list
    :more-list="moreList"
    v-on:do-new="doNew"
    v-on:do-update="doUpdate"
    v-on:do-give-up="doGiveUp"
    v-on:do-save="doSave"
    v-on:do-cancel="doCancel"
    v-on:do-submit="doSubmit"
    v-on:do-query="doQuery"
    v-on:do-delete="doDelete"
  ></jk-more-list>
  <div class="content" v-cloak v-if="billHeadValues.cCode">
    <div class="list-title-common" v-cloak>
      <span class="left-text">单号: <span>{{billHeadValues.cCode}}</span></span>
      <jk-head-page
        class="right-btns"
        :bof="billInfo.BOF"
        :eof="billInfo.EOF"
        v-on:bill-change="billChange">
      </jk-head-page>
    </div>
    <div class="info-main">
      <div class="item-group"><!-- v-if="billHeadFields"-->
        <!--<div-->
        <!--v-for="hf in billHeadFields"-->
        <!--&gt;-->
        <!--  v-if="(h.type-0 === 1) || (h.type-0 === 0)"-->
        
        <jk-bill-entry
          v-if="enumArr.cBusTypeArr && enumArr.cBusTypeArr.length>0"
          entry-type="select"
          tag="出门类型"
          :value="billHeadValues.cBusType"
          v-on:change="billHeadValues.cBusType=$event"
          :select-arr="enumArr.cBusTypeArr"
          :disabled="isDisabled('cBusType')"
        ></jk-bill-entry>
        <jk-bill-entry
          v-if="billHeadValues"
          entry-type="textarea"
          tag="出门原因"
          :value="billHeadValues.cDepName_BM"
          v-on:input="billHeadValues.cDepName_BM=$event"
          :disabled="isDisabled('cDepName_BM')"
        ></jk-bill-entry>
       
        <!--表体-->
        <div class="work-table-tab table-title linear-bg-blue-70"
             v-if="billBodyGroup.length"
        >
                    <span class="tab-tag"
                          :class="{'active':currentTab - index == 0}"
                          v-for="(tab,index) in bodyGroupTab"
                          @click="changeBody(tab,index)"
                          v-cloak
                    >{{tab.text}}</span>
        </div>
        <div class="sale-list" v-if="billBodyValues">
          <div
            v-for="(item,index) in billBodyValues"
          >
            <div class="item-group" v-if="index===currentPageIndex && item.sEditFlag!=='D'">
              <!--todo表体参照-->
              <jk-bill-entry
                v-if="item"
                entry-type="textarea"
                tag="物料编码"
                :value="item.cInvCode"
                v-on:input="item.cInvCode=$event"
                :disabled="isDisabled('cInvCode')"
                v-on:blur="doReference('cInvCode',item.cInvCode,1)"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                entry-type="textarea"
                tag="物料名称"
                :value="item.cInvCode"
                v-on:input="item.cInvCode=$event"
                :disabled="isDisabled('cInvCode')"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                entry-type="textarea"
                tag="型号规格"
                :value="item.cCPSelConfigCodes"
                v-on:input="item.cCPSelConfigCodes=$event"
                :disabled="isDisabled('cCPSelConfigCodes')"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                tag="单位"
                :value="item.cCPSelConfigCodes"
                v-on:input="item.cCPSelConfigCodes=$event"
                :disabled="isDisabled('cCPSelConfigCodes')"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                tag="数量"
                :value="item.cCPSelConfigCodes"
                v-on:input="item.cCPSelConfigCodes=$event"
                :disabled="isDisabled('cCPSelConfigCodes')"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                entry-type="textarea"
                tag="出门确认人"
                :value="item.cInvCode"
                v-on:input="item.cInvCode=$event"
                :disabled="isDisabled('cInvCode')"
                v-on:blur="doReference('cInvCode',item.cInvCode,1)"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                entry-type="date"
                tag="出门确认时间"
                :value="item.dPlanIssDate"
                v-on:set-data="item.dPlanIssDate=$event"
                :disabled="isDisabled('dPlanIssDate')"
              ></jk-bill-entry>
              <jk-bill-entry
                v-if="item"
                entry-type="textarea"
                tag="备注"
                :value="item.fRealRate"
                v-on:input="item.fRealRate=$event"
                :disabled="isDisabled('fRealRate')"
              ></jk-bill-entry>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <jk-item-pages
    :list="billBodyValues"
    :current-page-index="currentPageIndex"
    :show-page-btns="showPageEditBtns"
    v-on:add-bill-item="addBillItem"
    v-on:del-bill-item="delBillItem"
    v-on:handle-page="handlePage"
  ></jk-item-pages>
</div>
</body>
<script src="public/js/flexible.js"></script>
<script src="core/rAndroid.js?v=223"></script>
<script src="public/components/jk-component.js?v=c66"></script>
<script src="public/vm/commonBillVm.js?v=aaddd"></script>
</html>