<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>切换账套</title>
    <link rel="stylesheet" href="public/css/flexible.css">
    <link rel="stylesheet" href="public/font/iconfont.css?v=1">
    <link rel="stylesheet" href="public/css/public.css?v=1d2">
    
    <script src="public/js/flexible.js"></script>
    
    <script src="core/rAndroid.js?v=fffd"></script>
    <style>
        .app {height:100%;background:rgba(0,0,0,0.6);font-size: .36rem;}
        .action-container {padding:1em 5%;background:#fff;position: fixed;z-index: 20;left:0;right:0;bottom:0;}
        .info-item {padding:.5em;border-bottom:1px solid #f5f7f6;text-align: center;}
        .bottom-item {margin-top:1em;}
    
    </style>
</head>
<body>
<div id='app' class="app" @click.self="closeFrame">
    <div class="action-container" v-if="checkList.length" v-cloak >
        <p class="info-item color-primary click-effect"
           v-for="item in checkList"
           @click.stop="doRevoke(item)"
        >{{item.accountName}}</p>
        <p class="info-item bottom-item click-effect color-danger">重新登录</p>
    </div>
    <!--<div class="jk-submit" @click="checkSubmit">提交</div>-->
</div>
</body>
</html>